{% extends "layout_multi_sections.html" %}

{% block page_title %}
	Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}apprenticeship/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
About the council
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav_graduate.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
<div class="block-text block-story">
                        <h2>Fiona</h2>

                        
                    </div>
                    
                    
                    
                    <p>After graduating from Leeds Metropolitan University in 2012 with a 2:1 degree in English Literature, I was still unsure about what career path I wanted to take. After searching numerous job sites, I spotted that Leeds City Council was offering a graduate program. I decided immediately that this was an opportunity not to be missed! The application process was exciting and helpful, after attending an assessment day and an interview; I was one of a lucky 10 graduates who were offered a place on the pilot 2012 graduate scheme.</p>
                            
                    <blockquote>
                        <span class="open-quote"></span>
                        <p>it allowed me to learn new skills and pushed me to want to stay with the council</p>
                    </blockquote>
                    
                    <p>I was placed in Children’s Services in the Family Information Service; my placement was a permanent one within this team although some of my fellow graduates opted to move round various teams which they enjoyed. During my time with the Family Information Service I was given a specific project to work on which was redeveloping all the processes surrounding Free Early Education Entitlement. This project was challenging, interesting and taught me lots of new skills including networking and chairing meetings. Alongside my main role with the Family Information service, as a graduate I was given other opportunities such as comparing three awards events, one for staff and two for children and young people in care, organising cycling events at the breeze on tour festivals to promote the Tour de France and promoting digital access across the council.</p>
                    
                    <p>I thoroughly enjoyed being a graduate with Leeds City Council, it allowed me to learn new skills and pushed me to want to stay with the council and further develop my career.</p>
                    
                    <p>In November 2013 a year after starting my graduate scheme I was offered a promotion within my service to become a Senior Development and Information Officer with my same team. This is a role I wouldn’t have been able to go for without the support and training I received through my graduate scheme. Now in my new role I manage two members of staff, run a website and a social media account and produce numerous publications. I have learnt to code in HTML and use adobe InDesign. I continue to develop and thoroughly enjoy my new role.</p>
                    
                    <p>I love working for the council and am so grateful for the opportunity to begin my career as a graduate, if you are thinking of applying, do it, it will change your life.</p>
                    
                    <p class="signature">- Fiona&#8203;&#8203;</p>
{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/footer_nav.html" %}
 {% endblock %}