{% extends "layout_multi_sections.html" %}

{% block page_title %}
	Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}graduate/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
About the council
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav_graduate.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
                         <ul>
	<li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/">Home</a><ul class=""><li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><span class="">About The Council</span></li></ul></li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
<!--TESTIMONIAL WITH PICTURE-->
                    <div class="block-text block-testimonial">
                        <div class="media">
                            <!--THEIR PICTURE-->
                            <img src="http://myfuture.leeds.gov.uk/graduateprogramme/PublishingImages/Testimonial2013-Paul-McGrat.jpg" alt="">
                        &nbsp;</div>
                        <div class="quote">
                            <!--THE QUOTE-->
                            <p>A really enjoyable aspect of my job is having the opportunity to work on a regular basis with external partners from 3rd sector organisations, schools and colleges and members of the public, including children and young people, in order to make a real difference towards improving the life chances of children in Leeds. </p>
                            <!--WHO SAID THE QUOTE-->
                            <p class="signature">Paul McGrath</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <!--TESTIMONIAL END-->
&#8203;&#8203;&#8203;&#8203;<!--TESTIMONIAL WITH PICTURE-->
                    <div class="block-text block-testimonial">
                        <div class="media">
                            <!--THEIR PICTURE-->
                            <img src="http://myfuture.leeds.gov.uk/graduateprogramme/PublishingImages/Testimonial2014-Kasim-Mahmo.jpg" alt="">
                        &nbsp;</div>
                        <div class="quote">
                            <!--THE QUOTE-->
                            <p>I realised what an excellent opportunity working in such a varied role within the public sector would be as I would be able to utilise skills I had learnt during university as well as developing them. </p>
                            <!--WHO SAID THE QUOTE-->
                            <p class="signature">Kasim Mahmood</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <!--TESTIMONIAL END-->&#8203;<!--TESTIMONIAL WITH PICTURE-->
                    <div class="block-text block-testimonial">
                        <div class="media">
                            <!--THEIR PICTURE-->
                            <img src="http://myfuture.leeds.gov.uk/graduateprogramme/PublishingImages/leah.jpg" alt="">
                        &nbsp;</div>
                        <div class="quote">
                            <!--THE QUOTE-->
                            <p>I’m one of the graduates based in HR at Leeds City Council. Since starting last October, I’ve been involved in several different high profile projects.</p>
                            <!--WHO SAID THE QUOTE-->
                            <p class="signature">Leah Rhodes-Varley</p>
                        </div>
                        <div class="clear"></div>
                    </div>
{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/footer_nav.html" %}
 {% endblock %}