{% extends "layout_multi_sections.html" %}

{% block page_title %}
	Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}graduate/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
About the council
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav_graduate.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}

<div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal"><section id="cd-timeline" class="cd-container"><div class="cd-timeline-block ">
      <div class="cd-timeline-img">
        <p>Weeks<span>1-2</span></p>
      </div>
      <div class="cd-timeline-content">
        <h2>Getting started</h2>
        <p>You will have the opportunity to get to know your Cohort, meet with key senior people within the Council, find out more about the different Directorates and ensure that you are job ready. At the end of the first two weeks, you will be assigned to a project and be given a buddy and a mentor.</p>
      </div>
    </div>
    <div class="cd-timeline-block ">
      <div class="cd-timeline-img is-hidden">
        <p>Months<span>1-5</span></p>
      </div>
      <div class="cd-timeline-content is-hidden">
        <h2>Developing confidence</h2>
        <p>This will be your opportunity to work with your line manager to find out about the objectives for the project you have been assigned, learn about the service and get stuck into making a difference. You will have a network of people there to support you, from the Graduate Team, your line manager, your buddy and your mentor.</p>
      </div>
    </div>
    <div class="cd-timeline-block ">
      <div class="cd-timeline-img is-hidden">
        <p>Months<span>6-12</span></p>
      </div>
      <div class="cd-timeline-content is-hidden">
        <h2>Organisational awareness</h2>
        <p>This is when the Graduate Development Programme sessions start with opportunities to explore the wide strategic issues facing the City of Leeds. Working with fellow graduates, you will be able to development with the Graduate programme competencies, share ideas and proposals around real, live issues.This is the time when your first project will be coming to an end, you will review and reflect on what you have learnt and what you need next to help you develop further skills and gain different experiences. Throughout the programme, you will also have the support of a Careers Co-ordinator who will work with you to ensure that you are getting a great experience.</p>
      </div>
    </div>
    <div class="cd-timeline-block ">
      <div class="cd-timeline-img is-hidden">
        <p>Months<span>12-18</span></p>
      </div>
      <div class="cd-timeline-content is-hidden">
        <h2>Maximising potential</h2>
        <p>You will now be in your second or even third placement and have a much better understanding of working for Leeds City Council. You will have undertaken a number of reviews around your development and you should be starting to think about where you would like to work on a permanent contract. You should continue to attend the development programme events and seek as many opportunities as possible to develop your network and raise your profile across the Council.</p>
      </div>
    </div>
    <div class="cd-timeline-block ">
      <div class="cd-timeline-img is-hidden">
        <p>Months<span>18-24</span></p>
      </div>
      <div class="cd-timeline-content is-hidden">
        <h2>Preparing for next steps</h2>
        <p>You will be in your final project placement and working with a careers coach to find your next role. Support will be given on finding a suitable role including the completion of application forms and interview techniques.</p>
      </div>
    </div></section></div>
{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
    <div class="sideNav">
        <h3>Side Nav Title</h3>
    <ul class="nav">
        <li> <a class="item active" href="https://breeze-beta.leeds.gov.uk/about-breeze/action-adventure-equipment-hire" title="Action adventure equipment hire" id="ctl00_ctl47_g_cf683112_80c8_4639_ad48_08c79f6b4158_csr1_2lines_line1Link">West Leeds Children's Centres</a> </li>
        <li>
        <a class="item" href="https://breeze-beta.leeds.gov.uk/about-breeze/breeze-active" title="Breeze Active" id="ctl00_ctl47_g_cf683112_80c8_4639_ad48_08c79f6b4158_csr2_2lines_line1Link">North Leeds Children's Centres</a>      </li>
        <li> <a class="item" href="https://breeze-beta.leeds.gov.uk/about-breeze/breeze-arts-festival" title="Breeze Arts Festival" id="ctl00_ctl47_g_cf683112_80c8_4639_ad48_08c79f6b4158_csr3_2lines_line1Link">East Leeds Children's Centres</a> </li>
        <li>
        <a class="item" href="https://breeze-beta.leeds.gov.uk/about-breeze/breeze-arts-foundation" title="Breeze Arts Foundation" id="ctl00_ctl47_g_cf683112_80c8_4639_ad48_08c79f6b4158_csr4_2lines_line1Link"> West Leeds Children
            's Centres</a> </li>

    </ul>
    </div

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/footer_nav.html" %}
 {% endblock %}