{% extends "layout_multi_sections.html" %}

{% block page_title %}
	Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
About the council
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
                       <ul>
	<li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/">Home</a><ul class=""><li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><span class="">About The Council</span></li></ul></li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}

                            <p>The <a href="http://www.leeds.gov.uk/docs/Best%20Council%20Plan%20update%202015-16.pdf"><strong>Best Council plan 2015-16</strong> (PDF 4.1MB)</a> sets out what the council will do to help improve the lives of local people and how we will measure progress in delivering better outcomes across Leeds. It explains Leeds City Council's six objectives for 2015-16, the seven breakthrough projects, the values that underpin everything we do and the longer-term challenges and opportunities we face over the period 2015-20. The best council plan is used by the council to inform our resource allocation and how we plan and deliver services. It helps our staff understand how the work they do makes a real difference to the people of Leeds. It also shows our partners how we contribute to citywide priorities.</p>

<p>The <strong><a href="http://www.leeds.gov.uk/docs/Best%20Council%20Plan%20Update%202016-17.pdf">Best Council plan 2016-17 update</a></strong><a href="http://www.leeds.gov.uk/docs/Best%20Council%20Plan%20Update%202016-17.pdf"> (PDF 1.4MB)</a> is also now available.</p>

<h2>Twenty Priorities for 2016-17</h2>
<ul>
    <li>Supporting economic growth and access to economic opportunities</li>
    <li>Keeping people safe from harm</li>
    <li>Supporting communities, raising aspirations</li>
    <li>Improving educational achievement and closing achievement gaps</li>
    <li>Providing skills programmes and employment support</li>
    <li>Helping people adjust to welfare changes</li>
    <li>Providing enough homes of a high standard in all sectors</li>
    <li>Keeping the streets clean and improving road safety</li>
    <li>Supporting children to have the best start in life</li>
    <li>Preventing people dying early</li>
    <li>Promoting physical activity</li>
    <li>Building capacity for individuals to withstand or recover from illness</li>
    <li>Supporting healthy ageing</li>
    <li>Enabling carers to continue their caring role and careers</li>
    <li>Improving air quality </li>
    <li>Helping deliver a well-connected transport system</li>
    <li>Providing an inclusive, accessible range of transport options</li>
    <li>Hosting world class events in Leeds</li>
    <li>Supporting a resilient, inclusive, cultural and creative sector</li>
    <li>Enhancing the quality of our public realm and green spaces</li>
</ul>

<br>

<h3>Eight 'breakthrough' projects - helping us deliver our strategic objectives in 2016-17</h3>

<ul>
    <li>Cutting carbon and improving air quality in Leeds</li>
    <li>Tackling domestic violence and abuse</li>
    <li>Hosting world class events and having a vibrant city centre that all can benefit from</li>
    <li>Housing growth and high standards in all sectors</li>
    <li>Making Leeds the best place to grow old</li>
    <li>More jobs, better jobs</li>
    <li>Strong communities benefiting from a strong city</li>
    <li>Early intervention and reducing health inequalities</li>
</ul>

<br>

<p>Our five council values continue to underpin everything we do: working as a team for Leeds; being open, honest and trusted; working with communities; treating people fairly; spending money wisely.</p>

<p>You can also find out about <a href="http://myfuture.leeds.gov.uk/Documents/Working%20in%20local%20government.pdf"><strong>Working in Local Government</strong> (PDF 581KB)</a> and <a href="http://myfuture.leeds.gov.uk/Documents/final-commission-on-the-future-of-local-government.pdf"><strong>The future of Local Government</strong> (PDF 1.6MB)</a>.</p>
{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/footer_nav.html" %}
 {% endblock %}